@import "../../../styles/variables.scss";

.root {
  margin: 0 0 8px 39px;
  color: $gray-700;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color: $gray-700;
}
