.contentContainer {
  background-color: white;
  padding: 16px 32px;
  margin: 16px 0px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
    0 0 3px 1px rgba(101, 119, 134, 0.15);
}

.label {
  display: inline-block;
  padding: 8px 0;
  font-weight: 700;
}

.submitWrapper {
  background-color: #B9CAD3;
  width: calc(100% - 64px);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 32px;
  border-bottom: 1px solid white;

  @media only screen and (min-width: 700px) {
    position: static;
    background: transparent;
    border: none;
  }
}

.submitLink {
  background-color: rgb(15, 20, 25);
  padding: 16px;
  color: white;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
    0 0 3px 1px rgba(101, 119, 134, 0.15);
  font-weight: 600;
  text-decoration: none;
  margin: 16px 0;
  transition: background-color 150ms ease-in;
  border: none;

  // float: right;

  &:hover {
    background-color: rgb(39, 44, 48);
  }
}
