@import "../../styles/variables.scss";

.threadComposer {
  padding: 10px 16px 60px;
  position: fixed;
  width: 100%;
  height: calc(100vh - 129px);
  box-sizing: border-box;
  overflow-y: scroll;


  > .threadComposerWrapper {
    position: relative;
    min-height: calc(100vh - 200px);
  }
}


.tweetComposer {
  display: flex;
  align-items: flex-start;

  .tweetAvatarWrapper {
    position: relative;
    width: 40px;
  
    &.hasCharacters {
    //   background-color: red;
    }
  
    &.lastTweet {
      height: 40px;
    }

    &:not(.lastTweet) .threadLine {
      height: calc(100%);
    }

    .avatar {
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 4px solid #ffffff;
      border-radius: 50%;
      transform: scale(0.8);
      transition: transform 200ms ease-in;
    
      &.avatarThreaded {
        transform: scale(1);
      }
    }

    .threadLine {
      position: absolute;
      z-index: 9;
      top: 15px;
      left: 23px;
      background-color: rgba(192, 192, 192, 1) ;
      width: 2px;
      height: 2px;
      transition: height 350ms ease-out;
    }
  }

  .tweetInputWrapper {
    padding: 0;
    margin-left: 16px;
    width: calc(100% - 62px);
    border: none;
    height: auto;
  }
  
  .replyingToCopy {
    margin: 0;
    padding: 0;
    color: $base-black;

    > span {
      color: $blue-500;
      font-weight: 700;;
    }
  }

  .tweetInput {
    padding: 6px 0 20px 0px;
    border: none;
    width: 100%;
    resize: vertical;
    height: auto;

    
    color: #536471;
    font-style: 17px;
    font-weight: normal;
    line-height: 20px;
    caret-color: #1D9BF0;
  
    &:focus {
      outline: none !important;
      color: #0F1419;
    }
  }

  // opacity
  .tweetAvatarWrapper, .tweetInput {
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
  }

  &.isActive {
    .tweetAvatarWrapper, .tweetInput {
      opacity: 1;
    }
  }
}

.cancel {
  transition: opacity 200ms ease-in-out;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  opacity: .35;
}

.hideCancel {
  transition: opacity 200ms ease-in-out;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  opacity: 0;
}

