.profile {
    width: 100%;
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    padding: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9001;
}

.cancelAndDotsWrapper {

}

.cancelButton {
    background-color: #ff0000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}