:root {
  --footer-top-position: calc(var(--window-inner-height) - 89px)
}

.footer {
  background-color: #ffffff;
  // position: absolute;
  // top: var(--footer-top-position);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9001;

  transform: translate3d(0, 0, 0);;
}

.wrapper_reply {
	height: 44px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.globe {
	padding-left: 16px;
	height: 16px;
}

.reply_copy {
	padding-left: 16px;
	font-family: "Chirp", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #1D9BF0;
}

.wrapper_actions {
	height: 44px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.icons {
	height: 24px;
}

.wrapper_circle_plus {
	height: 44px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.wrapper_circle {
	height: 44px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0px 20px 0px 16px;
}

.horizontal_line {
	height: 30px;
	border-left: 1px solid #D9D9D9;
}

.wrapper_plus {
	height: 44px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0px 16px 0px 20px;
}

.plus {
	height: 24px;
  opacity: 0.5;
  transition: opacity 100ms ease-in;

  &.isActive {
    opacity: 1;
  }
}

.tooltip {
	position: absolute;
	display: block;
	top: -28px;
	right: 10px;
	background-color: #1D9BF0;
	padding: 12px;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	width: 160px;
	line-height: 16px;
}

/* creates the smaller triangle */
.tooltip:after {
	content: "";
  position: absolute;
  bottom: -6px;
  left: 157px;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: #1D9BF0 transparent;
  display: block;
  width: 0;
}