.facepilesroot {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;    
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 18px;
    transform: translateX(10px);

    &.directionlefttoright {
        flex-direction: row;
    }

    &.directionrighttoleft {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-end;
    }

    > li {
        margin-left: -7px;

        &:nth-child(1) {
            z-index: 10 !important;
        }
        &:nth-child(2) {
            z-index: 20 !important;
        }
        &:nth-child(3) {
            z-index: 30 !important;
        }
        &:nth-child(4) {
            z-index: 40 !important;
        }
    }


}